header {
  background-color: #5c6b73;
  padding: 15px 0 30px;
}

body{
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 30px;
}

.pokemon-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-svg {
  width: 24px;
  height: 28px;
}

.search-input {
  width: 450px;
  height: 45px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding-left: 10px;

  font-size: 20px;
}

.submit-btn {
  border-color: transparent;
  background-color: #ffffff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 7px;
}

.error-text {
  font-size: 40px;
  text-align: center;
  color: #253237;
}

.pockemon-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.pokemon-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 200px;
  border: 2px solid #5c6b73;
  border-radius: 14px;
  background-image: radial-gradient(
      circle at 100% 0%,
      rgb(108, 92, 231) 20%,
      rgba(255, 255, 255, 0) 20%
    ),
    radial-gradient(
      circle at 0% 0%,
      rgb(108, 92, 231) 20%,
      rgba(255, 255, 255, 0) 20%
    ),
    radial-gradient(
      circle at 0% 100%,
      rgb(108, 92, 231) 20%,
      rgba(255, 255, 255, 0) 20%
    ),
    radial-gradient(
      circle at 100% 100%,
      rgb(108, 92, 231) 20%,
      rgba(255, 255, 255, 0) 20%
    );
}

.text-container 

.name{
  font-size: 24px;
  font-weight: 700;
  color: #30292F;

  margin-bottom: 10px;
}

.stats-list {
  display: flex;
  gap: 60px;

  padding-bottom: 7px;
  border-bottom: 2px solid #5c6b73;
  margin-bottom: 10px;
}

.stats-list2 {
  display: flex;
  flex-direction: column;
  gap: 4px;

  letter-spacing: 2px;
  text-align: left;
}

